.config/nvim/bundle/
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/playlists/
.config/mpd/state
.config/mpd/sticker.sql
.config/ncmpcpp/error.log
.config/newsboat/urls
.config/alacritty/alacritty.yml.*.bak
.config/zsh/antidote
.config/zsh/.zshrc.zwc
.config/zsh/zsh_plugins.zsh
