!    *----------------------------*
!    |  Dotfiles  -  .Xresources  |
!    *----------------------------*
! This files contains configuration for:
!  * terminal colours
!  * urxvt

! === Font ===
! *font:          xft:inconsolatazi4:size=18
!Inconsolata
#URxvt.font: xft:Hack-Regular-14
#URxvt.boldFont: xft:Hack-Bold-14

!Inconsolata-g
!URxvt.font: xft:InconsolataG-10

!Anonymous Pro
!URxvt.font: xft:Anonymous\ Pro-12

!Monaco
!URxvt.font: xft:Monaco-10

!Droid Sans Mono
!URxvt.font: xft:Droid Sans Mono-10

!DejaVu Sans
!URxvt.font: xft:DejaVu Sans Mono-10

!Manospace
!URxvt.font: xft:Monospace-10

!Terminus
!URxvt.font: xft:Terminus-10
! general
*foreground: #a9b1d6
*background: #1a1b26
*cursorColor: #a9b1d6

! terminal padding color
*borderColor: #1a1b26

! black
*color0: #1a1b26
*color8: #4e5173

! red
*color1: #F7768E
*color9: #F7768E

! green
*color2: #9ECE6A
*color10: #9ECE6A

! yellow
*color3: #E0AF68
*color11: #E0AF68

! blue
*color4: #7AA2F7
*color12: #7AA2F7

! magenta
*color5: #9a7ecc
*color13: #9a7ecc

! cyan
*color6: #4abaaf
*color14: #4abaaf

! white
*color7: #acb0d0
*color15: #acb0d0
