* {
    border: none;
    border-radius: 0;
    font-family: FontAwesome, IoskeleyMonoTerm, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(30, 30, 46, 0.85);
    color: #cdd6f4;
}

#window {
    font-weight: bold;
    font-family: "IoskeleyMonoTerm";
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #cdd6f4;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: #89b4fa;
    border-top: 2px solid #89b4fa;
}

#workspaces button.urgent {
    color: #f38ba8;
    border-top: 2px solid #f38ba8;
}

#mode {
    background: #45475a;
    border-bottom: 3px solid #f5e0dc;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
    font-weight: bold;
    color: #f9e2af;
}

#battery {
    color: #a6e3a1;
}

#battery icon {
    color: #f38ba8;
}

#battery.charging {
    color: #a6e3a1;
}

@keyframes blink {
    to {
        background-color: #cdd6f4;
        color: #1e1e2e;
    }
}

#battery.warning:not(.charging) {
    color: #f9e2af;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color: #89b4fa;
}

#memory {
    color: #cba6f7;
}

#network {
    color: #94e2d5;
}

#network.disconnected {
    background: #f38ba8;
    color: #1e1e2e;
}

#pulseaudio {
    color: #fab387;
}

#pulseaudio.muted {
    color: #6c7086;
}

#custom-spotify {
    color: #a6e3a1;
}

#temperature {
    color: #74c7ec;
}

#temperature.critical {
    color: #f38ba8;
}

#backlight {
    color: #f9e2af;
}

#tray {
    color: #bac2de;
}
